.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0e2d1;
    padding: 40px 20px;
    gap: 20px; 
    flex-wrap: wrap; 
}

.subscribe .sub-description {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; 
}

.subscribe .inp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    position: relative;
}
.subscribe .inp-container .err-msg {
    color: red;
    font-size: 12px;
    /* margin-top: 5px; */
    position: absolute;
    bottom: -40px;
    right: 8px;
}
.subscribe .sub-inp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border-radius: 5px;
    transition: 0.5s;
    width: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.subscribe .sub-inp.focused {
    box-shadow: 0 0 10px var(--green-shade);
}

.subscribe .sub-inp input {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
}

.subscribe .sub-inp .sub-button {
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

@media (max-width: 721px) {
    .subscribe {
        flex-direction: column; 
        align-items: center; 
    }

    .subscribe .sub-description {
        text-align: center; 
        align-items: center; 
    }

    .subscribe .inp-container {
        flex-direction: column;
        width: 100%;
        gap: 20px;  
    }
}
